* {
  padding: 0;
  margin: 0;
  border: 0;
  color: aliceblue;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: black;
  background-image: url(images/The_Verge_GOT_Landscape_Wallpaper.0.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.glass {
  background: rgba(255, 255, 255, 0.18);
  border-radius: 8px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(18.3px);
  -webkit-backdrop-filter: blur(18.3px);
}
.home {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.logo {
  width: 1100px;
}

.navbar {
z-index: 2;
height: 50px;
display: flex;
position: fixed;
justify-content: center;
align-items: center;
width: 100%;
flex-direction: row;
transition: top 0.3s;
background-color: darkmagenta;
font-family: Helvetica, sans-serif;
font-size: 40px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: #ffef8e;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #ffef8e;
}

.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: rgba(255, 22, 206, 0.75);
  color: #fff;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
  z-index: 10;
}
.my-float {
  margin-top: 22px;
}
.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
  padding-top: 85px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.container {
  padding: 0 16px;
  text-align: center;
  font-family: Garamond, serif;
  font-size: 20px;  
}

.title {
  color: white;
}

.mtt {
  display: flex;
  flex-direction: row;
}

.img {
  height: 500px;
  width: 300px;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img.img {
  height: 500px;
  width: 300px;
  border-radius: 15px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
  font-family: Helvetica, sans-serif;
  font-size: 40px;
}

.mainContainer {
  display: flex;
  gap: 20px;
  flex-flow: wrap;
  justify-content: center;
  padding-top: 25px;
}

.eventContainer {
  background: rgba(16, 14, 39, 0.33);
  display: flex;
  align-content: center;
  align-items: center;
  border-radius: 25px;
  flex-direction: column;
  width: 28%;
  min-width: 300px;
  max-height: 400px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
}

.infoContainer {
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Garamond, serif;
  font-size: 20px;  
}

.eventTitle {
  font-weight: 800;
  font-size: 28px;
  margin-top: 10px;
  text-align: center;
  color: #ffef8e;
}

.hour {
  color: #ffef8e;
}

.eventImg {
  object-fit: cover;
  border-radius: 5px;
  width: 100%;
  height: 275px;
}

.button-container-div {
  height: 100%;
  border: 1px solid #ff8899;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  background-color: black;
  color: #fff;
  border: 1px solid black;
  padding: 10px;
  width: 300px;
  outline: none;
  margin: auto;
  border-radius: 15px;
  font-family: Garamond, serif;
  font-size: 20px;
}

section {
  height: 100vh;
  scroll-snap-align: start;
  z-index: 0;
}

.scroll {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
  z-index: 0;
}

.container > .fa {
  padding: 5px;
  font-size: 10px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 15px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}